<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Stock" type="com.jackie.jr.dao.model.StockData"/>
        <typeAlias alias="Article" type="com.jackie.jr.dao.model.Article"/>
        <typeAlias alias="User" type="com.jackie.jr.dao.model.User"/>
        <typeAlias alias="StockMapping" type="com.jackie.jr.dao.model.StockCodeName"/>
    </typeAliases>

</configuration>