<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:/db.properties"></context:property-placeholder>
    <context:annotation-config></context:annotation-config>

    <context:component-scan base-package="com.jackie.jr.web"/>
    <context:component-scan base-package="com.jackie.jr.utils"/>
    <context:component-scan base-package="com.jackie.jr.service"/>
    <context:component-scan base-package="com.jackie.jr.dao"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url"
                  value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--Spring MVC mybatis config -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--dataSource 属性指定的连接处 -->
        <property name="dataSource" ref="dataSource"/>
        <!--configutaionLocation 属性是指定没有把提升 的核心配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:com/jackie/jr/presistence/*Mapper.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.jackie.jr.dao.inter"/>
    </bean>


    <bean class="com.jackie.jr.web.constant.Constant">
        <property name="BASE_URL" value="${base_url}"/>
    </bean>
</beans>