<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackie.jr.dao.inter.IStock163Operation">

    <resultMap id="stockdata" type="com.jackie.jr.dao.model.Stock163">
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tclose" property="tclose" jdbcType="VARCHAR"/>
        <result column="high" property="high" jdbcType="VARCHAR"/>
        <result column="low" property="low" jdbcType="VARCHAR"/>
        <result column="topen" property="topen" jdbcType="VARCHAR"/>
        <result column="lclose" property="lclose" jdbcType="VARCHAR"/>
        <result column="chg" property="chg" jdbcType="VARCHAR"/>
        <result column="pchg" property="pchg" jdbcType="VARCHAR"/>
        <result column="turnoverrate" property="turnoverrate" jdbcType="VARCHAR"/>
        <result column="voturnover" property="voturnover" jdbcType="VARCHAR"/>
        <result column="vaturnover" property="vaturnover" jdbcType="VARCHAR"/>
        <result column="totalmarketvalue" property="totalmarketvalue" jdbcType="VARCHAR"/>
        <result column="marketvalueofcirculation" property="marketvalueofcirculation" jdbcType="VARCHAR"/>
        <result column="numberoftransactionpens" property="numberoftransactionpens" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addStocks" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO stock_data_163 (date ,code,
        name,tclose,high,low,topen,lclose,chg,pchg,turnoverrate,voturnover,vaturnover,totalmarketvalue,marketvalueofcirculation,numberoftransactionpens)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.date},#{item.code},#{item.name},#{item.tclose},#{item.high},#{item.low},#{item.topen},#{item.lclose},#{item.chg},#{item.pchg},#{item.turnoverrate},#{item.voturnover},
            #{item.vaturnover},#{item.totalmarketvalue},#{item.marketvalueofcirculation},#{item.numberoftransactionpens})
        </foreach>
    </insert>


    <delete id="deleteStockByCode">
      DELETE FROM stock_data_163 where code=#{code}
    </delete>

    <select id="getStockByCode" parameterType="string" resultMap="stockdata">
       SELECT * FROM  stock_data_163 WHERE code =#{code}
    </select>
    <select id="getLastDayData" resultType="com.jackie.jr.dao.model.Stock163">
         SELECT * FROM  stock_data_163 WHERE code =#{code} order by date desc limit 1
    </select>
</mapper>