<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackie.jr.dao.inter.IStockOperation">

    <resultMap id="resultListStock" type="StockData">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="stockid" property="stockId" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="open" property="open" jdbcType="VARCHAR"/>
        <result column="high" property="high" jdbcType="VARCHAR"/>
        <result column="low" property="low" jdbcType="VARCHAR"/>
        <result column="close" property="close" jdbcType="VARCHAR"/>
        <result column="fclose" property="fclose" jdbcType="VARCHAR"/>
        <result column="change_amount" property="changeAmount" jdbcType="VARCHAR"/>
        <result column="price_change_amount" property="priceChangeAmount" jdbcType="VARCHAR"/>
        <result column="turnover_rate" property="turnoverRate" jdbcType="VARCHAR"/>
        <result column="volume" property="volume" jdbcType="VARCHAR"/>
        <result column="volume_amount" property="volumeAmount" jdbcType="VARCHAR"/>
        <result column="total_market_capitalization" property="totalMarketCapitalization" jdbcType="VARCHAR"/>
        <result column="circulation_market_value" property="circulationMarketValue" jdbcType="VARCHAR"/>
        <result column="number_of_transactions" property="numberOfTransactions" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectStockByID" parameterType="string" resultMap="resultListStock">
        select * from `stock_data` where stockid = #{stockId}
    </select>

    <insert id="addStock" parameterType="StockData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stock_data(stockid,date,open,high,low,close,volume,adjclose)
        values(#{stockid},#{date},#{open},#{high},#{low},#{close},#{volume},#{adjclose})
    </insert>

    <insert id="addStocksBatch" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO stock_data ( stockid, date,
        open, high, low, close, fclose, change_amount, price_change_amount, turnover_rate, volume, volume_amount,
        total_market_capitalization, circulation_market_value, number_of_transactions)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.stockId}
            ,#{item.date},#{item.open},#{item.high},#{item.low},#{item.close},#{item.fclose},#{item.changeAmount},#{item.priceChangeAmount},#{item.turnoverRate},
            #{item.volume},#{item.volumeAmount},#{item.totalMarketCapitalization},#{item.circulationMarketValue},#{item.numberOfTransactions})
        </foreach>
    </insert>

    <update id="updateStock" parameterType="StockData">
        update stock_data set  date=#{date},open=#{open},high=#{high},low=#{low},close=#{close},volume=#{volume},
        adjclose=#{adjclose} where stockid=#{stockid}
    </update>

    <delete id="deleteStockByStockId" parameterType="string">
        delete from stock_data where stockid = #{stockid}
    </delete>

    <select id="dynamicIfTest" parameterType="StockData" resultType="StockData">
        select * from stock_data where 1 = 1
        <if test="title != null">
            and open =#{open}
        </if>
    </select>

    <insert id="updateStockList">

    </insert>

    <insert id="insertStockNameListBatch" >

    </insert>

</mapper>