<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackie.jr.dao.inter.IStockOperation">

    <resultMap id="resultListStock" type="Stock">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="stockid" property="stockid" jdbcType="BIGINT"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="open" property="open" jdbcType="DOUBLE"/>
        <result column="high" property="high" jdbcType="DOUBLE"/>
        <result column="low" property="low" jdbcType="DOUBLE"/>
        <result column="close" property="close" jdbcType="DOUBLE"/>
        <result column="volume" property="volume" jdbcType="BIGINT"/>
        <result column="adjclose" property="adjclose" jdbcType="DOUBLE"/>
    </resultMap>


    <select id="selectStockByID" parameterType="integer" resultType="Stock">
        select * from `historystockinfo` where stockid = #{id}
    </select>

    <select id="selectStocks" parameterType="integer" resultMap="resultListStock">
        select * from `stock_data` where stockid = #{stockid}456

    </select>

    <insert id="addStock" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO stock_data(stockid,date,open,high,low,close,volume,adjclose)
        values(#{stockid},#{date},#{open},#{high},#{low},#{close},#{volume},#{adjclose})
    </insert>

    <insert id="addStocksBatch" useGeneratedKeys="true" parameterType="java.util.List">
        INSERT INTO stock_data (stockid , date ,open , high , low ,close ,volume ,adjclose)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.stockId} ,#{item.date},#{item.open},#{item.high},#{item.low},#{item.close},#{item.volume},#{item.adjclose})
        </foreach>
    </insert>

    <update id="updateStock" parameterType="Stock">
        update stock_data set  date=#{date},open=#{open},high=#{high},low=#{low},close=#{close},volume=#{volume},
        adjclose=#{adjclose} where stockid=#{stockid}
    </update>

    <delete id="deleteStockByStockId" parameterType="int">
        delete from stock_data where stockid=#{id}
    </delete>

    <select id="dynamicIfTest" parameterType="Stock" resultType="Stock">
        select * from stock_data where 1 = 1
        <if test="title != null">
            and open =#{open}
        </if>
    </select>


</mapper>